<div class="auth-form auth-form--reset">

  <div class="auth-form__hint">
    Please enter the phone email<br>that you used to sign in.
  </div>
  <form novalidate (ngSubmit)="reset()" [formGroup]="resetPassForm">
    <div class="validation-err-msg auth-form__error-title" [hidden]="!errorReset">
      Code is expired. Please send your email again!
    </div>
    <div class="form-group"
        *ngIf="!showPasswordsInputs"
        [ngClass]="{'has_error': resetPassForm.get('email').invalid && resetPassForm.get('email').touched}">
      <div class="input-group">
        <input type="email"
              placeholder="Email"
              formControlName="email"/>
        <app-reset-input-btn [inputName]="'email'" [inputField]="resetPassForm.get('email')"></app-reset-input-btn>
      </div>
      <div *ngIf="resetPassForm.get('email').invalid && resetPassForm.get('email').touched" class="validation-err-msg">
        <div *ngIf="resetPassForm.get('email').hasError('required')">Email is required</div>
        <div *ngIf="!resetPassForm.get('email').hasError('required')">The entered email is invalid.</div>
      </div>
      <div *ngIf="showMsg" class="varification-msg">
        We have sent a link to your email address. Please check.
      </div>
    </div>
    <div class="form-group"
        *ngIf="showPasswordsInputs"
        [ngClass]="{'has_error': resetPassForm.get('password').invalid && resetPassForm.get('password').touched}">
      <div class="input-group">
        <input type="password"
              placeholder="New Password"
              formControlName="password"/>
        <app-reset-input-btn [inputName]="'password'" [inputField]="resetPassForm.get('password')">
        </app-reset-input-btn>
      </div>
      <div *ngIf="resetPassForm.get('password').invalid && resetPassForm.get('password').touched" class="has_error">
        <div class="validation-err-msg">
          <span *ngIf="resetPassForm.get('password').hasError('uppercaseLetters') &&
                    resetPassForm.get('password').hasError('numbers')">
            Password must contain at least one uppercase letter and one number
          </span>
          <span *ngIf="resetPassForm.get('password').hasError('uppercaseLetters') &&
                    !resetPassForm.get('password').hasError('numbers')">
            Password must contain at least one uppercase letter
          </span>
          <span *ngIf="!resetPassForm.get('password').hasError('uppercaseLetters') &&
                    resetPassForm.get('password').hasError('numbers')">
            Password must contain at least one number
          </span>
          <div *ngIf="resetPassForm.get('password').hasError('minlength')">
            Password must be of minimum 6 characters length
          </div>
        </div>
      </div>
    </div>
    <div class="form-group"
        *ngIf="showPasswordsInputs"
        [ngClass]="{'has_error': resetPassForm.get('password_confirm').invalid &&
                                        resetPassForm.get('password_confirm').touched}">
      <div class="input-group">
        <input type="password"
              placeholder="Confirm New Password"
              formControlName="password_confirm"/>
        <app-reset-input-btn [inputName]="'password_confirm'" [inputField]="resetPassForm.get('password_confirm')">
        </app-reset-input-btn>
      </div>
      <div *ngIf="resetPassForm.get('password_confirm').invalid && resetPassForm.get('password_confirm').touched" class="has_error">
        <div class="validation-err-msg">
          <span *ngIf="resetPassForm.get('password_confirm').hasError('uppercaseLetters') &&
                    resetPassForm.get('password_confirm').hasError('numbers')">
            Password must contain at least one uppercase letter and one number
          </span>
          <span *ngIf="resetPassForm.get('password_confirm').hasError('uppercaseLetters') &&
                    !resetPassForm.get('password_confirm').hasError('numbers')">
            Password must contain at least one uppercase letter
          </span>
          <span *ngIf="!resetPassForm.get('password_confirm').hasError('uppercaseLetters') &&
                    resetPassForm.get('password_confirm').hasError('numbers')">
            Password must contain at least one number
          </span>
          <div *ngIf="resetPassForm.get('password_confirm').hasError('minlength')">
            Password must be of minimum 6 characters length
          </div>
        </div>
      </div>
      <div class="has_error">
        <span *ngIf="(resetPassForm.get('password').value != resetPassForm.get('password_confirm').value) &&
                  resetPassForm.get('password_confirm').touched && !resetPassForm.get('password').hasError('required') &&
                  !resetPassForm.get('password_confirm').hasError('required')" class="validation-err-msg">
          Passwords doesn't match
        </span>
        <div *ngIf="showMsg" class="varification-msg">
          {{msg}}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn--block btn--secondary">
      Reset Password
    </button>
  </form>

</div>