<div class="content__main__inner">
  <div class="coin-description">
    <div class="coin-description__img">
      <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png" alt="">
    </div>
    <div class="coin-description__text">
      <h2>Aventus</h2>
      <p>
        A fair, secure, and transparent blockchain-based event ticketing solution that practically eliminates fraud and unregulated touting.
      </p>
    </div>
  </div>
  
  <div class="ico-detail-component">
    <div class="ico-detail-component-container">
      <app-feature-list></app-feature-list>
      <app-feature-tabs></app-feature-tabs>
    </div>
  </div>
</div>
