<div class="content__main__inner">
  <div class="coin-description">
    <div class="coin-description__img">
      <img *ngIf="ico"
           src="{{ico.imageUrl}}"
           onerror="this.src='../../../../assets/defaultCoin.png'" alt="">
    </div>
    <div class="coin-description__text">
      <h2>{{ico?.name}}</h2>
      <div>
        <p [innerHtml]="description"></p>
        <div *ngIf="descriptionLength > MAX_TEXT_LENGTH_SHOW">
          <a class="more-or-less-btn"
             href="javascript:void(0)"
             (click)="moreOrLess()">
            {{hideOverflow ? 'more >>' : '<< less'}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ico-detail-component">
    <div class="ico-detail-component-container">
      <app-feature-list [icoData]="ico"></app-feature-list>
      <app-feature-tabs [icoData]="ico"></app-feature-tabs>
      <!--<app-comment-list [item]="ico"></app-comment-list>-->
    </div>
  </div>
</div>
