<div class="widget">
  <h4 class="widget__title">What is Clout?</h4>
  The CLOUT networks hosts a variety of news and articles about the blockchain in addition to articles
  covering crypto investments, as well as a detailed & current analysis of all upcoming ICOs. For the first time,
  influential members of the community will be acknowledged in CLOUTs section on the "Who's Who" of crypto,
  providing due recognition for their positive contributions towards the community. Newcomers to the world
  of crypto will have access to highly sought after content to assist them in getting started.
  <br>
  CLOUT is truly the one-stop-shop for EVERYTHING crypto!
</div>
