<div class="ico-list-component col-md-3 col-sm-12">
  <ul>
    <li class="ico-list-item">
      <div class="ico-status upcoming">Upcoming</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Kin</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item active">
      <div class="ico-status running">Running</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Aventus</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status finished">Finished</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Akasha</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status upcoming">Upcoming</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>CodeTrack</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status running">Running</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Boardroom</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status finished">Finished</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>ReiDAO</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>
    <li class="ico-list-item">
      <div class="ico-status upcoming">Upcoming</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Kin</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status running">Running</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Aventus</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status finished">Finished</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Akasha</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status upcoming">Upcoming</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>CodeTrack</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status running">Running</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>Boardroom</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>

    <li class="ico-list-item">
      <div class="ico-status finished">Finished</div>
      <div class="ico-img">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*bioDONakHSSgOxqCHthw3A.png">
      </div>
      <div class="ico-details">
        <h2>ReiDAO</h2>
        <time>Sep 22, 2017 – Oct 22, 2017</time>
      </div>
    </li>
  </ul>
</div>
