<form class="auth-form" novalidate (ngSubmit)="login()" [formGroup]="account">
  <div class="validation-err-msg auth-form__error-title" [hidden]="!errorLogin">
    Invalid Email or Password.
  </div>
  <div class="form-group"
       [ngClass]="{'has_error': account.get('email').invalid && account.get('email').touched}">
    <div class="input-group">
      <input type="email"
             placeholder="Email"
             formControlName="email"/>
      <app-reset-input-btn [inputName]="'email'"></app-reset-input-btn>
    </div>
    <div *ngIf="account.get('email').invalid && account.get('email').touched" class="validation-err-msg">
      <div *ngIf="account.get('email').hasError('required')">Email is required</div>
      <div *ngIf="!account.get('email').hasError('required')">The entered email is invalid.</div>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{'has_error': account.get('password').invalid && account.get('password').touched}">
    <div class="input-group">
      <input type="password"
             placeholder="Password"
             formControlName="password"/>
      <app-reset-input-btn [inputName]="'password'"></app-reset-input-btn>
    </div>
  </div>
  <div *ngIf="account.get('password').invalid && account.get('password').touched" class="has_error">
    <div class="validation-err-msg">
      <div *ngIf="account.get('password').hasError('uppercaseLetters') &&
                account.get('password').hasError('numbers')">
        Passwords must contain at least one uppercase letter and one number
      </div>
      <div *ngIf="account.get('password').hasError('uppercaseLetters') &&
                !account.get('password').hasError('numbers')">
        Passwords must contain at least one uppercase letter
      </div>
      <div *ngIf="!account.get('password').hasError('uppercaseLetters') &&
                account.get('password').hasError('numbers')">
        Passwords must contain at least one number
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn--block btn--primary">
    Sign In
  </button>
  <div class="auth-form__or"><span>or</span></div>
  <app-facebook-auth-btn [textButton]="'Sign In with Facebook'"></app-facebook-auth-btn>
  <div class="auth-form__hint">
    <span>Forgot password?</span>
    <i>&bull;</i>
    <a routerLink="/register">Registration</a>
  </div>
</form>
