<div class="content__list">
  <ul class="coin-list">
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img [src]="url" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img [src]="url" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img [src]="url" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item coin-list-item--negative">
      <a href="#">
      <span class="coin-list-item__img">
        <img [src]="url" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>- 5.45 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img src="//via.placeholder.com/450x50/FF3737/fff" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img src="//via.placeholder.com/50x450/FF3737/fff" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img src="//via.placeholder.com/30x50/FF3737/fff" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img src="//via.placeholder.com/50x50/1276A8/fff" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Ripple</strong>
        <span class="coin-list-item__details">
          <span>$ 0.262256</span>
          <span>+ 1.85 %</span>
        </span>
      </span>
      </a>
    </li>
    <li class="coin-list-item">
      <a href="#">
      <span class="coin-list-item__img">
        <img src="//via.placeholder.com/50x50/FF3737/fff" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium non praesentium ad impedit beatae!</strong>
        <span class="coin-list-item__details">
          <span>$ 0.2622566225662256</span>
          <span>+ 15889.85 %</span>
        </span>
      </span>
      </a>
    </li>

  </ul>
</div><!-- .content__list -->
