<div class="content__list">
  <ul class="coin-list">
    <app-altcoin-item *ngFor="let item of altcoinList" [altcoin]="item"
                      [selectItemId]="selectedId" (notify)="onNotify($event)">
    </app-altcoin-item>
    <li class="coin-list-item" style="visibility: hidden">
      <a href="#">
      <span class="coin-list-item__img">
        <img src="//via.placeholder.com/50x50/FF3737/fff" alt="">
      </span>
        <span class="coin-list-item__content">
        <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium non praesentium ad impedit beatae!</strong>
        <span class="coin-list-item__details">
          <span>$ 0.2622566225662256</span>
          <span>+ 15889.85 %</span>
        </span>
      </span>
      </a>
    </li>

  </ul>
</div><!-- .content__list -->
