<header class="header" [ngClass]="{'mobile-nav-open' : mobileSearchVisible}">
  <div class="container">
    <div class="header__start">
      <a routerLink="/home" class="header__logo"></a>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUrl}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/home">News</a>
          <a class="dropdown-item" routerLink="/allcoins">Allcoins</a>
          <a class="dropdown-item" routerLink="/icos">Icos</a>
        </div>
      </div> -->
    </div><!-- .header__start -->
    <div class="header__search">
      <form>
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search" class="header__search-field" #headerSearchField>
        <button type="submit" class="header__search-btn"></button>
      </form>
    </div><!-- .header__search -->
    <div class="header__actions">
      <div class="action user-img" id="dropdown-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a href="#" class="header__user" title="{{userName}}">
          <img src="{{avatar}}" onerror="this.src='../../../../assets/user.svg'" alt="">
        </a>
      </div>

      <a href="#" class="btn btn--primary-outline btn--xs">CLC Wallet</a>
      <div class="action">
        <a href="#" (click)="toggleSearchOnMobile($event); headerSearchField.focus();" class="fa fa-search"></a>
      </div>
      <!--<div class="action">
        <a href="#"></a>
      </div>
      <div class="action">
        <a href="#"></a>
      </div>-->
      <div class="dropdown-menu" aria-labelledby="dropdown-settings">
        <a class="dropdown-item" href="#" (click)="logout($event)">Log Out</a>
      </div>
    </div><!-- .header__actions -->
  </div><!-- .container -->

  <!--<owl-carousel *ngIf="topList?.length" class="page-list" [options]="{dots: false, nav: true, autoWidth: true, pullDrag:false, mouseDrag:false, navText: ['','More &raquo;']}">
    <a href="javascript:void(0)" (click)="showCoinsDropdown($event)">Coins</a>
    <a routerLink="/home/all" routerLinkActive="active">All</a>
    <a href="javascript:void(0)" routerLinkActive="active" *ngFor="let i of topList" routerLink="{{hashtagUrl+'/'+i.id}}">{{i.name}}</a>
  </owl-carousel>-->
  <div class="page-list">
    <div class="owl-stage">
      <div class="owl-item"><a href="javascript:void(0)" (click)="showCoinsDropdown($event)">Coins</a></div>
      <div class="owl-item"><a routerLink="/home/all" routerLinkActive="active">All</a></div>
      <div class="owl-item" *ngFor="let i of topList">
        <a href="javascript:void(0)" routerLinkActive="active" routerLink="{{hashtagUrl+'/'+i.id}}">{{i.name}}</a>
      </div>
    </div>
    <div class="owl-more-btn">
      <a href="javascript:void(0)">More</a>
    </div>
  </div>

  <div class="dropdown hidden-coins-dropdown" id="dropdownMenuButton2">
    <button class="btn btn-secondary dropdown-toggle" #hiddenCoinsDropdown type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a routerLink="/allcoins" routerLinkActive="active">Allcoins</a><br>
      <a routerLink="/icos" routerLinkActive="active">ICO's</a>
    </div>
  </div>

  <app-loader-line></app-loader-line>
</header><!-- .header -->
