<div class="comments single-post">
  <div class="comments__body">
    <div class="comments__img"
         style="background-image: url('../../../../../assets/avatar.png')"></div>
    <div class="comments__details">
      <strong>{{feed?.owner?.email}}</strong>
      <!--<p>-->
        <!--Designer-->
      <!--</p>-->
    </div>
    <div class="comments__time">
      {{createDate}}
    </div>
  </div>
  <div class="single-post__text">
    {{feed?.text}}
    <div *ngFor="let file of feed.attachment" style="max-width: 100%; padding: 20px 0px 10px 0px;">
      <img style="width: 100%;" [src]="file.url" />
    </div>
  </div>

  <div class="single-post__comments">
    <app-comment-list [item]="feed" [type]="'feed'"></app-comment-list>
  </div>
</div>
