<div class="range-component filter">
  <div role="tab" id="icoamount">
    <h5 class="dropdown-toggle bottom">
      <a data-toggle="collapse" data-parent="#accordion" href="#rangefilter" aria-expanded="true" aria-controls="rangefilter">
        ICO Amount
      </a>
    </h5>
  </div>

  <div id="rangefilter" class="collapse show clearfix" role="tabpanel" aria-labelledby="icoamount">
    <input type="range" name="points" min="0" max="10000">
    <div class="range-value range-start">$ 0</div>
    <div class="range-value range-current">$ 6464</div>
  </div>
</div>
