<div class="comments__body">
  <div class="comments__img">
    <img src="{{item?.owner?.avatar}}" onerror="this.src='../../../../../../assets/user.svg'" alt="">
  </div>
  <div class="comments__details">
    <strong>{{item?.owner?.username}}</strong>
    <p>
      {{item?.text}}
    </p>
    <div class="comments__time">
  <span>
    {{date}}
    <a href="javascript:void(0)" *ngIf="!isAnswer && level <= maxLevel" (click)="showAnswer()">Respond</a>
  </span>
      <div>
        {{item?.clc ? item?.clc + ' CLC': ''}}&nbsp;
        <a href="javascript:void(0)" (click)="onToggleLike(item?.id)">
          <i [ngClass]="{'fa-heart icon_active': item?.isLiked, 'fa-heart-o': !item?.isLiked}" class="fa"></i> {{item?.likes > 0 ? item?.likes : ''}}
        </a>
      </div>
    </div>
    <input *ngIf="isAnswer" (blur)="hideAnswer()" #textcomment type="text" (keyup.enter)="addComment(textcomment.value); textcomment.value=''; textcomment.blur();"
      class="comments__add" placeholder="Add comment">
  </div>
</div>
<div class="comments__reply" *ngIf="level <= maxLevel">
  <app-comment-item  (notify)="notifyParent($event)" *ngFor="let comment of item.child" [level]="level+1" [item]="comment"></app-comment-item>
</div>
