<!--<div *ngIf="!editable" class="single-post__text">
  {{feed?.text}}
  <div *ngFor="let file of feed.attachment" style="max-width: 100%; padding: 20px 0px 10px 0px;">
    <img style="width: 100%;" [src]="file.url" />
  </div>
</div>-->
<div *ngIf="editable">
  <!--<div class="add-post__text edit" contenteditable="true" #feedtext>
    {{feed?.text}}
  </div>-->
  <div *ngIf="imageSrc" class="add-post__img">
    <div class="upload-img" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}">
      <a href="javascript:void(0)" (click)="removeImage()"></a>
    </div>
  </div>
  <div *ngIf="!imageSrc && imageOldSrc" class="add-post__img">
    <div class="upload-img edit">
      <div class="upload-img" [ngStyle]="{'background-image': 'url(' + feed?.attachment[0]?.url + ')'}">
        <a href="javascript:void(0)" (click)="removeImage()"></a>
      </div>
    </div>
  </div>
</div>
