<div class="checkbox-component filter">
  <div role="tab" id="industry">
    <h5 class="dropdown-toggle bottom">
      <a data-toggle="collapse" data-parent="#accordion" href="#industryfilter" aria-expanded="true" aria-controls="industryfilter">
        Industry
      </a>
    </h5>
  </div>

  <div id="industryfilter" class="collapse show" role="tabpanel" aria-labelledby="industry">
    <ul>
      <li><input type="checkbox" checked autocomplete="off"> Crypto Investments</li>
      <li><input type="checkbox" checked autocomplete="off"> Traditional Investments</li>
      <li><input type="checkbox" checked autocomplete="off"> Web &amp; Mobile</li>
      <li><input type="checkbox" autocomplete="off"> Banking</li>
    </ul>
  </div>
</div>