<div class="comments single-post">
  <div class="comments__body" [ngClass]="{'no_border': editable}">
    <div class="comments__img">
      <img src="{{feed?.owner?.avatar}}" onerror="this.src='../../../../../../../assets/user.svg'" alt="">
    </div>

    <div class="comments__details">
      <strong>{{feed?.owner?.username}}</strong>
      <p>
         {{createDate}}
      </p>
      <!--<p>-->
        <!--Designer-->
      <!--</p>-->
    </div>
    <div class="comments__time">
      <div class="dropdown" *ngIf="isOwner">
        <button class="dropdown-toggle" id="dropdownPostActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownPostActions">
          <a class="dropdown-item" (click)="delete()">Delete Post</a>
          <a class="dropdown-item" (click)="edit()">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <app-post-head *ngIf="editable" [feed]="feed" (onUploadPhoto)="uploadPhoto($event)"></app-post-head>
  <!--<div class="attachment_post" *ngIf="!editable && !!feed?.linkData">
    <div class="attachment_url" [innerHtml]="feed.text"></div>
  </div>

  <div *ngIf="!editable && !feed?.linkData"
       class="single-post__text">
    {{feed?.text}}
    <span class="comments__tags">
      <a href="#">#bitcoin</a>,
      <a href="#">#happy</a>,
      <a href="#">#myfirstbitcoin</a>,
      <a href="#">#justanothertag</a>
    </span>
    <div class="comments__category">
      <a href="#" class="active">Trending</a>
      <a href="#">Breaking News</a>
      <a href="#">Opinion</a>
    </div>
    <div *ngFor="let file of feed.attachment" style="max-width: 100%; padding: 20px 0px 10px 0px;">
      <img style="width: 100%;" [src]="file.url" />
    </div>
  </div>-->
  <div>
    <app-attachment-post [feed]="feed"
                         [categories]="categories"
                         [imageSrc]="imageSrc"
                         [loadImgId]="loadImgId"
                         [editable]="editable"
                         (onDoAction)="onDoAction($event)">
    </app-attachment-post>
  </div>
  <div class="single-post__comments" *ngIf="!editable">
    <app-comment-list [item]="feed" [type]="'feed'"></app-comment-list>
  </div>
</div>
