<div class="comments single-post">
  <div class="comments__body" [ngClass]="{'no_border': editable}">
    <div class="comments__img">
      <img src="{{feed?.owner?.avatar}}" onerror="this.src='../../../../../../../assets/user.svg'" alt="">
    </div>
    <div class="comments__details">
      <strong>{{feed?.owner?.username}}</strong>
      <p>{{createDate}}</p>
    </div>
    <div class="comments__time">
      <div class="dropdown" *ngIf="isOwner">
        <button class="dropdown-toggle" id="dropdownPostActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownPostActions">
          <a class="dropdown-item" (click)="delete()">Delete Post</a>
          <a class="dropdown-item" (click)="edit()">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <app-post-head *ngIf="feed?.type === 'post' && editable"
                 [feed]="feed"
                 [createdFor]="'editPost'"
                 (onUploadPhoto)="uploadPhoto($event)">
  </app-post-head>
  <app-attachment-post *ngIf="feed?.type === 'post'"
                       [feed]="feed"
                       [categories]="categories"
                       [imageSrc]="imageSrc"
                       [loadImgId]="loadImgId"
                       [editable]="editable"
                       (onDoAction)="onDoAction($event)">
  </app-attachment-post>
  <app-edit-article *ngIf="feed?.type === 'article'"
                    [feed]="feed"
                    [editable]="editable"
                    [categories]="categories"
                    (onDoAction)="onDoAction($event)">
  </app-edit-article>
  <!--(onSaveCancel)="saveOrCancel($event)"
                    (onSelect)="chooseCategory($event)">-->
  <div class="single-post__comments" *ngIf="!editable">
    <app-comment-list [item]="feed" [type]="'feed'"></app-comment-list>
  </div>
</div>
