<div class="comments single-post">
  <div class="comments__body">
    <div class="comments__img"
         style="background-image: url('../../../../../assets/avatar.png')"></div>
    <div class="comments__details">
      <strong>{{feed?.owner?.email}}</strong>
      <p>
         {{createDate}}
      </p>
      <!--<p>-->
        <!--Designer-->
      <!--</p>-->
    </div>
    <div class="comments__time">
      <div class="dropdown">
        <button class="dropdown-toggle" id="dropdownPostActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownPostActions">
          <a class="dropdown-item" (click)="delete()">Delete Post</a>
          <a class="dropdown-item" (click)="edit()">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="single-post__text" *ngIf="!editable">
    {{feed?.text}}
    <div *ngFor="let file of feed.attachment" style="max-width: 100%; padding: 20px 0px 10px 0px;">
      <img style="width: 100%;" [src]="file.url" />
    </div>
  </div>
  <div *ngIf="editable">
    <br>
    <div class="add-post__head">
      <a href="javascript:void(0)" class="active">Share an Update</a>
      <a href="javascript:void(0)" (click)="triggerToInput()" >Upload Photo</a>
      <!--<a href="#">Write an Article</a>-->
    </div>
    <div class="add-post__text edit" contenteditable="true" #feedtext>
      {{feed?.text}}
    </div>
    <input accept="image/gif, image/jpeg, image/png" type="file"
           (change)="handleUpload($event)" #uploadPicture style="visibility: hidden; height: 0px;"/>
    <div *ngIf="imageSrc" class="add-post__img">
      <div class="upload-img" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}">
        <a href="javascript:void(0)" (click)="removeImage()"></a>
      </div>
    </div>
    <div *ngIf="!imageSrc && imageOldSrc" class="add-post__img">
      <div class="upload-img edit">
        <div class="upload-img" [ngStyle]="{'background-image': 'url(' + feed?.attachment[0]?.url + ')'}">
          <a href="javascript:void(0)" (click)="removeImage()"></a>
        </div>
      </div>
    </div>
    <div class="comments__footer text-right">
      <button class="btn btn--secondary" (click)="cancel()">Cancel</button>
      <button class="btn btn--primary" (click)="save()">Save</button>
    </div>
  </div>

  <div class="single-post__comments" *ngIf="!editable">
    <app-comment-list [item]="feed" [type]="'feed'"></app-comment-list>
  </div>
</div>
