<div class="add-post">
  <div class="add-post__head">
    <a href="javascript:void(0)" class="active">Share an Update</a>
    <a href="javascript:void(0)" (click)="triggerToInput()" >Upload Photo</a>
    <!--<a href="#">Write an Article</a>-->
  </div>
  <div #feedtext class="add-post__text" contenteditable="true" (click)="focusText()" (blur)="blurText()">Write something...</div>
  <input accept="image/gif, image/jpeg, image/png" type="file" (change)="handleUpload($event)" #uploadPicture style="visibility: hidden; height: 0px;"/>
  <div *ngIf="imageSrc" class="add-post__img">
    <div class="upload-img" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}">
      <a href="javascript:void(0)" (click)="removeImage()"></a>
    </div>
    <!--<div class="upload-img" style="background-image: url('http://epmgaa.media.clients.ellingtoncms.com/img/photos/2015/02/17/oranges.jpg')">-->
      <!--<a href="#"></a>-->
    <!--</div>-->
    <!--<a href="#" class="upload-new"></a>-->
  </div>
  <div *ngIf="hasPublish" class="add-post__footer">
    <button (click)="feedCreate()" class="btn btn--primary">Publish</button>
  </div>
</div><!-- .add-post -->
