<div class="coins-alphabetical-dropdown">
  <div>
    <input placeholder="Search" type="search" [(ngModel)]="filterValue">
  </div>
  <div class="coins-alphabetical-dropdown-list">
    <div *ngIf="!alphabeticList.length">Loding...</div>
    <div *ngFor="let group of alphabeticList | alphabeticCoinsPipe: filterValue">
      <div class="group-name">{{group.groupName}}</div>
      <div *ngFor="let item of group.items">
        <a routerLink="/home/community/hashtag/{{item}}">{{item}}</a>
      </div>
    </div>
  </div>
</div>
