<ul class="social-links">
  <li>
    <a href="#" class="icon icon_twitter"></a>
  </li>
  <li>
    <a href="#" class="icon icon_facebook"></a>
  </li>
  <li>
    <a href="#" class="icon icon_youtube"></a>
  </li>
  <li>
    <a href="#" class="icon icon_linkedin"></a>
  </li>
  <li>
    <a href="#" class="icon icon_slack"></a>
  </li>
  <li>
    <a href="#" class="icon icon_github"></a>
  </li>
  <li>
    <a href="#" class="icon icon_telegram"></a>
  </li>
  <li>
    <a href="#" class="icon icon_bitcoin"></a>
  </li>
</ul>
