<div class="widget">
  <h4 class="widget__title">Popular Search</h4>
  <ul class="popular-search-list">
    <li>
      <a href="javascript:void(0)">Bitcoin</a>
    </li>
    <li>
      <a href="javascript:void(0)">Decentralized</a>
    </li>
    <li>
      <a href="javascript:void(0)">ICO</a>
    </li>
    <li>
      <a href="javascript:void(0)">Crowdsale</a>
    </li>
    <li>
      <a href="javascript:void(0)">Regulations</a>
    </li>
    <li>
      <a href="javascript:void(0)">Taxes</a>
    </li>
    <li>
      <a href="javascript:void(0)">blockchain</a>
    </li>
    <li>
      <a href="javascript:void(0)">scams</a>
    </li>
  </ul>
</div>
