<div class="coin-description">
  <div class="coin-description__img">
    <img src="{{altcoin?.image}}"
         onerror="this.src='../../../../../assets/defaultCoin.png'" alt="">
  </div>
  <div class="coin-description__text">
    <h2>{{altcoin ? altcoin.name : ' '}}</h2>
    <p>
      <!--Ripple provides one frictionless experience to send money globally using the power of blockchain. By
      joining Ripple’s growing, global network, financial institutions can process their customers’ payments
      anywhere in the world instantly, reliably and cost-effectively. Banks and payment providers can use the
      digital asset XRP to further reduce their costs and access new markets.-->
    </p>
  </div>
</div><!-- .coin-description -->
<div class="coin-details">
  <ul class="coin-details-list altcoin-details-list">
    <li>
      <span>Market Cap:</span>
      <span>{{altcoin ? '$ ' + (altcoin.market_cap_usd | number) : ''}}</span><!--<br>2,115,760 {{altcoin.symbol}}</span>-->
    </li>
    <li>
      <span>Volume (24h):</span>
      <span>{{altcoin ? '$ ' + (altcoin['24h_volume_usd'] | number) : ''}}</span><!--<br>66,956 {{altcoin.symbol}}</span>-->
    </li>
    <li>
      <span>Total Supply:</span>
      <span>{{altcoin ? (altcoin.total_supply | number) + ' ' + altcoin.symbol : ''}}</span>
    </li>
    <!--<li>
      <span>Max Supply:</span>
      <span>100,000,000,000 XRP</span>
    </li>-->
    <li class="follow-btn-container">
      <app-follow-btn [coin]="altcoin"></app-follow-btn>
    </li>
  </ul>
  <!--<div class="coin-details__share">
    <ul class="social-links">
      <li>
        <a href="#" class="icon icon_twitter"></a>
      </li>
      <li>
        <a href="#" class="icon icon_facebook"></a>
      </li>
      <li>
        <a href="#" class="icon icon_youtube"></a>
      </li>
      <li>
        <a href="#" class="icon icon_linkedin"></a>
      </li>
      <li>
        <a href="#" class="icon icon_slack"></a>
      </li>
      <li>
        <a href="#" class="icon icon_github"></a>
      </li>
      <li>
        <a href="#" class="icon icon_telegram"></a>
      </li>
      <li>
        <a href="#" class="icon icon_bitcoin"></a>
      </li>
    </ul>
    <div class="coin-details__share-links">
      <a href="#" class="underline">https://ripple.com/</a>
      <a href="#">Whitepaper</a>
      <a href="#">Blog</a>
    </div>
  </div>-->
</div><!-- .coin-details -->
