@import "../../../../theme/theme-variables";
.container.pricing-plan {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
    h2 {
        color: black;
    }
    .pricing-plan-boxes {
        margin-top: 20px;
        .pricing-box {
            min-height: 380px;
            border-radius: $border-radius;
            background-color: white;
            .plan-type {
                font-size: 30px;
                padding-top: 20px;
                display: block;
                text-align: center;
                color: $color-feed-text;
            }
            .price {
                color: $color-primary;
                display: block;
                font-size: 18px;
                text-align: center;
                margin-bottom: 30px;
            }
            .plan-content {
                padding: 0 25px;
                ul {
                    min-height: 300px;
                    li {
                        padding: 8px 0;
                        display: block;
                        i {
                            color: $color-primary;
                        }
                        span {
                            color: $color-feed-text;
                            font-weight: 500;
                            padding-left: 10px;
                        }
                    }
                }
                .form-actions {
                    .btn {
                        background-color: white;
                        color: white;
                        width: 100%;
                        margin: 20px 0;
                        border: 1px solid $color-primary;
                        color: $color-primary;
                    }
                    &:hover {
                        width: 100%;
                        border-radius: $border-radius;
                        color: $color-primary;
                        background-color: white;
                    }
                    .btn--secondary {
                        color: $color-primary;
                    }
                }
            }
        }
        .pricing-box.selected {
            border: 1px solid $color-primary;
            .plan-content {
                .form-actions {
                    .btn {
                        background-color: $color-primary;
                        color: white;
                    }
                }
            }
        }
    }
}