<div class="container pricing-plan">
    <div class="text-center">
        <h2>Pricing Plans</h2>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum.</span>
    </div>
    <div class="row pricing-plan-boxes">
        <div class="col-md-6">
            <div class="pricing-box">
                <span>Premium</span>
                <span>$25/mo</span>
                <hr>
                <div class="plan-content">
                    <ul>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                    </ul>
                    <div class="form-actions text-center">
                        <a href="javascript:void(0)" class="btn btn--primary" (click)="save()">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pricing-box">
                <span>Regular</span>
                <span>Free</span>
                <hr>
                <div class="plan-content">
                    <ul>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                        <li>
                            <i class="fa fa-check fa-lg"></i>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                        </li>
                    </ul>
                    <div class="form-actions text-center">
                        <a href="javascript:void(0)" class="btn btn--secondary" (click)="save()">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>