<div class="page-title">
  <nav class="page-links">
    <a href="javascript:void(0)" class="active">Community</a>
    <a href="javascript:void(0)">News</a>
    <a href="javascript:void(0)">Trending</a>
  </nav>
</div><!-- .page-title -->

<div class="container clearfix">
  <div class="feed-content">
    <main class="feed-main">

      <!-- .news-item START -->
      <div class="news-item">
        <a href="#">
          <div class="news-item__img">
            <img src="http://placehold.it/600x250?text=Breaking+News!" alt="">
          </div>
          <div class="news-item__content">
            <h4 class="news-item__title">Bitcoin Trading Platform WhaleClub Plans To Expand Into Different Assets</h4>
            <p>
              Platforms facilitating the trading of Bitcoin are in high demand, as traders all over the world are looking for reliable
              solutions.
            </p>
          </div>
        </a>
      </div>
      <!-- .news-item END -->


      <div class="comments single-post">
        <div class="comments__body">
          <div class="comments__img" style="background-image: url('../../../../../assets/avatar.png')"></div>
          <div class="comments__details">
            <strong>Mykola Kovach</strong>  – Editing a Post
            <p>
              5 minutes ago
            </p>
          </div>
        </div>
        <div class="add-post__text edit" contenteditable="true">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac molestie purus. Vestibulum bibendum suscipit magna, consectetur pellentesque arcu vulputate at.
        </div>
        <div class="comments__footer text-right">
          <button class="btn btn--secondary">Cancel</button>
          <button class="btn btn--primary">Save</button>
        </div>
      </div>


      <app-feed-create></app-feed-create>
      <app-feed-list></app-feed-list>
    </main><!-- .feed-main -->
    <aside class="feed-aside">
      <div class="widget">
        <h4 class="widget__title">What is Blockchain?</h4>
        The blockchain is an undeniably ingenious invention – the brainchild of a person or group of people known by the pseudonym, <a href="https://en.wikipedia.org/wiki/Satoshi_Nakamoto" target="_blank">Satoshi Nakamoto</a>. But since then, it has evolved into something greater, and the main question every single person is asking is: What is Blockchain?<br><br>
        By allowing digital information to be distributed but not copied, blockchain technology created the backbone of a new type of internet. Originally devised for the <a href="http://blockgeeks.com/guides/what-is-cryptocurrency-everything-you-need-to-know-ultimate-guide/" target="_blank">digital currency</a>, <a href="http://blockgeeks.com/guides/how-to-buy-bitcoin/" target="_block">Bitcoin</a>, the tech community is now finding other potential uses for the technology.
      </div>
      <div class="widget">
        <h4 class="widget__title">Weather in your city</h4>
        <img src="https://raw.githubusercontent.com/felixhageloh/weather-widget/master/originalIcons.png" alt="Weather">
      </div>
    </aside><!-- .feed-aside -->
    <aside class="feed-aside">
      <div class="widget">
        <h4 class="widget__title">Recent posts</h4>
        <ul>
          <li>
            <a href="javascript:void(0)">How platform works?</a>
          </li>
          <li>
            <a href="javascript:void(0)">Get rich or die trying!</a>
          </li>
          <li>
            <a href="javascript:void(0)">Why lowcosts are so cheap?</a>
          </li>
          <li>
            <a href="javascript:void(0)">Why lowcosts are so cheap?</a>
          </li>
          <li>
            <a href="javascript:void(0)">How platform works?</a>
          </li>
          <li>
            <a href="javascript:void(0)">Get rich or die trying!</a>
          </li>
          <li>
            <a href="javascript:void(0)">Why lowcosts are so cheap?</a>
          </li>
        </ul>
      </div>
      <div class="widget">
        <h4 class="widget__title">Ad Banner</h4>
        <img src="https://s3.envato.com/files/230409093/preview%20image.jpg" alt="img">
      </div>
    </aside><!-- .feed-aside -->
  </div><!-- .feed-content -->
</div>
