<div class="page-title">
  <nav class="page-links">
    <a href="#">Posts</a>
    <a href="#">Articles</a>
    <a href="#" class="active">All</a>
  </nav>
</div><!-- .page-title -->
<div class="container clearfix">
  <div class="feed-content">
    <main class="feed-main">
      <div class="add-post">
        <div class="add-post__head">
          <a href="#" class="active">Share un Update</a>
          <a href="#">Upload Photo</a>
          <a href="#">Write an Article</a>
        </div>
        <div class="add-post__text" contenteditable="true">
          Write something...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit justo eu lacus interdum consequat. Vestibulum ultrices
          eu erat non semper. Donec rutrum congue consequat.
        </div>
        <div class="add-post__img">
          <div class="upload-img" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0e/85/48/e6/seven-mile-beach-grand.jpg')">
            <a href="#"></a>
          </div>
          <div class="upload-img" style="background-image: url('http://epmgaa.media.clients.ellingtoncms.com/img/photos/2015/02/17/oranges.jpg')">
            <a href="#"></a>
          </div>
          <a href="#" class="upload-new"></a>

        </div>
        <div class="add-post__footer">
          <button class="btn btn--primary">Publish</button>
        </div>
      </div><!-- .add-post -->
    </main><!-- .feed-main -->
    <aside class="feed-aside">
      <div class="widget">
        <h4 class="widget__title">What is Blockchain?</h4>
        The blockchain is an undeniably ingenious invention – the brainchild of a person or group of people known by the pseudonym, <a href="https://en.wikipedia.org/wiki/Satoshi_Nakamoto" target="_blank">Satoshi Nakamoto</a>. But since then, it has evolved into something greater, and the main question every single person is asking is: What is Blockchain?<br><br>
        By allowing digital information to be distributed but not copied, blockchain technology created the backbone of a new type of internet. Originally devised for the <a href="http://blockgeeks.com/guides/what-is-cryptocurrency-everything-you-need-to-know-ultimate-guide/" target="_blank">digital currency</a>, <a href="http://blockgeeks.com/guides/how-to-buy-bitcoin/" target="_block">Bitcoin</a>, the tech community is now finding other potential uses for the technology.
      </div>
      <div class="widget">
        <h4 class="widget__title">Weather in your city</h4>
        <img src="https://raw.githubusercontent.com/felixhageloh/weather-widget/master/originalIcons.png" alt="Weather">
      </div>
    </aside><!-- .feed-aside -->
    <aside class="feed-aside">
      <div class="widget">
        <h4 class="widget__title">Recent posts</h4>
        <ul>
          <li>
            <a href="#">How platform works?</a>
          </li>
          <li>
            <a href="#">Get rich or die trying!</a>
          </li>
          <li>
            <a href="#">Why lowcosts are so cheap?</a>
          </li>
          <li>
            <a href="#">Why lowcosts are so cheap?</a>
          </li>
          <li>
            <a href="#">How platform works?</a>
          </li>
          <li>
            <a href="#">Get rich or die trying!</a>
          </li>
          <li>
            <a href="#">Why lowcosts are so cheap?</a>
          </li>
        </ul>
      </div>
      <div class="widget">
        <h4 class="widget__title">Ad Banner</h4>
        <img src="https://s3.envato.com/files/230409093/preview%20image.jpg" alt="img">
      </div>
    </aside><!-- .feed-aside -->
  </div><!-- .feed-content -->
</div>
