<div class="comments__category" *ngIf="createFor === 'displayTagList'">
  <a *ngFor="let c of categories" routerLink="{{'/home/community/category/' + c.id}}"
     [ngClass]="{'active': c.id === categoryId}">
    {{c.name === 'Treading' ? 'Trending' : c.name}}
  </a>
</div>
<div class="comments__category create-post" *ngIf="createFor === 'createPost'">
  <a *ngFor="let c of categories"
     href="javascript:void(0)"
     (click)="selectCategory(c.id)"
     [ngClass]="{'active': c.id === categoryId}">
    {{c.name === 'Treading' ? 'Trending' : c.name}}
  </a>
</div>
