<div class="coin-details">
  <ul class="coin-details-list">
    <!--<li>
      <span>Project Stage:</span>
      <span>Useable Product</span>
    </li>
    <li>
      <span>Hype Score:</span>
      <span>LOW</span>
    </li>
    <li>
      <span>Risk score:</span>
      <span>MEDIUM</span>
    </li>
    <li>
      <span>Invest score:</span>
      <span>LOW</span>
    </li>
    <li>
      <span>Category:</span>
      <span>Service</span>
    </li>-->
    <li>
      <span>Status:</span>
      <span>{{icoData?.status}}</span>
    </li>
    <li>
        <span>Founded:</span>
        <span>{{icoData?.startedW3c | date: 'yyyy'}}</span>
      </li>
  </ul>
  <div class="coin-details__share">
    <app-social-networks *ngIf="icoData && icoData['socials']" [socials]="icoData['socials']"></app-social-networks>
    <app-links *ngIf="icoData && icoData['socials']" [socials]="icoData['socials']"></app-links>
    <app-follow-btn [coin]="icoData"></app-follow-btn>
  </div>
</div>
