<div class="feature-list-component">
  <div class="project-details">
    <ul>
      <li><label>Project Stage:</label> <span>Useable Product</span></li>
      <li><label>Hype Score:</label> <span>LOW</span></li>
      <li><label>Risk score: </label> <span>MEDIUM</span></li>
      <li><label>Invest score:</label> <span>LOW</span></li>
      <li><label>Category:</label> <span>Service</span></li>
      <li><label>Founded:</label> <span>2017</span></li>
    </ul>
  </div>
  <div class="project-links">
    <app-social-networks></app-social-networks>
    <app-links></app-links>
  </div>
</div>