<div class="container clearfix">
  <div class="feed-content">

    <main class="feed-main">
      <app-feed-create></app-feed-create>
      <app-feed-list></app-feed-list>
    </main><!-- .feed-main -->

    <aside class="feed-aside">
      <div class="widget">
        <h4 class="widget__title">What is Blockchain?</h4>
        The blockchain is an undeniably ingenious invention – the brainchild of a person or group of people known by the pseudonym, <a href="https://en.wikipedia.org/wiki/Satoshi_Nakamoto" target="_blank">Satoshi Nakamoto</a>. But since then, it has evolved into something greater, and the main question every single person is asking is: What is Blockchain?<br><br>
        By allowing digital information to be distributed but not copied, blockchain technology created the backbone of a new type of internet. Originally devised for the <a href="http://blockgeeks.com/guides/what-is-cryptocurrency-everything-you-need-to-know-ultimate-guide/" target="_blank">digital currency</a>, <a href="http://blockgeeks.com/guides/how-to-buy-bitcoin/" target="_block">Bitcoin</a>, the tech community is now finding other potential uses for the technology.
      </div>
      <div class="widget">
        <h4 class="widget__title">Weather in your city</h4>
        <img src="https://raw.githubusercontent.com/felixhageloh/weather-widget/master/originalIcons.png" alt="Weather">
      </div>
    </aside><!-- .feed-aside -->
    <aside class="feed-aside">
      <div class="widget">
        <h4 class="widget__title">Recent posts</h4>
        <ul>
          <li>
            <a href="javascript:void(0)">How platform works?</a>
          </li>
          <li>
            <a href="javascript:void(0)">Get rich or die trying!</a>
          </li>
          <li>
            <a href="javascript:void(0)">Why lowcosts are so cheap?</a>
          </li>
          <li>
            <a href="javascript:void(0)">Why lowcosts are so cheap?</a>
          </li>
          <li>
            <a href="javascript:void(0)">How platform works?</a>
          </li>
          <li>
            <a href="javascript:void(0)">Get rich or die trying!</a>
          </li>
          <li>
            <a href="javascript:void(0)">Why lowcosts are so cheap?</a>
          </li>
        </ul>
      </div>
      <div class="widget">
        <h4 class="widget__title">Ad Banner</h4>
        <img src="https://s3.envato.com/files/230409093/preview%20image.jpg" alt="img">
      </div>
    </aside><!-- .feed-aside -->
  </div><!-- .feed-content -->
</div>
