<div class="container clearfix">
  <div class="feed-content">

    <main class="feed-main">
      <app-feed-create></app-feed-create>
      <app-feed-list></app-feed-list>
    </main><!-- .feed-main -->

    <aside class="feed-aside">
      <div class="feed-aside__item">
        <app-favorite-coins></app-favorite-coins>
        <app-clout-desc-sidebar></app-clout-desc-sidebar>
      </div>
    </aside><!-- .feed-aside -->
    <aside class="feed-aside">
      <div class="feed-aside__item">
        <app-popular-search-sidebar></app-popular-search-sidebar>
        <app-ads-block-sidebar></app-ads-block-sidebar>
      </div>
    </aside><!-- .feed-aside -->
  </div><!-- .feed-content -->
</div>
