/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import 'theme/theme-variables';

// 3rd party libraries

// Theme customization
@import 'theme/theme';

/*
Button Styles
_________________________________*/
.btn {
  border-radius: $border-radius;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  padding: 13px 15px;
  color: $text-color-inverse;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--primary {
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 5%);
  }
  &:active {
    background: lighten($color-primary, 5%);
  }
}

.btn--fb {
  background: $color-fb;

  &:hover {
    background: darken($color-fb, 5%);
  }
  &:active {
    background: lighten($color-fb, 5%);
  }
}

.btn[disabled] {
  background: $text-color-alt;
  opacity: 1;

  &:hover,
  &:active,
  &:focus {
    background: $text-color-alt;
    opacity: 1;
  }
}
/*
END Button Styles
_________________________________*/

/*
Authorization Styles
_________________________________*/
.auth-form {
  margin: 50px 15px 0 15px;
  background: $text-color-inverse;
  border-radius: $border-radius;
  border: 1px solid $border-color-alt;
  padding: 20px;
  font-size: $default-font-size;

  @media #{$phone-lg} {
    width: 450px;
    padding: 50px;
    margin: 50px auto 0 auto;
  }

  &__or {
    padding: 14px 0 13px 0;
    text-align: center;
    font-size: $default-font-size - 2;
    position: relative;
    z-index: 1;

    &:before {
      display: block;
      content: "";
      width: auto;
      height: 1px;
      background: $border-color-alt;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -1px;
    }

    span {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $border-color-alt;
      margin: 0 auto;
      background: $text-color-inverse;
      position: relative;
      z-index: 5;
      color: $text-color-alt;
    }
  }

  &__hint {
    text-align: center;
    color: $text-color-alt;
    padding: 22px 0 0 0;

    i {
      display: inline-block;
      vertical-align: top;
      padding: 0 5px;
    }

    a {
      color: $color-primary;
    }
  }

  &__error-title {
    font-weight: 600;
    color: $color-warning;
    text-align: center;
    font-size: $default-font-size;
    margin: -3px 0 29px 0;
  }

}

.form-group {
  margin-bottom: $gutter;

  .input-group {
    position: relative;
  }

  input {
    display: block;
    border: 1px solid $border-color-alt;
    border-radius: $border-radius;
    width: 100%;
    font-size: $default-font-size;
    line-height: 20px;
    color: $text-color-alt;
    outline: none;
    padding: 12px 12px 11px 12px;
  }

  .close-icon {
    display: none;
  }

  .close-icon:hover, .close-icon:active, .close-icon:focus {
    outline: none;
  }
}

.has_error {

  input {
    border: 1px solid $color-warning;
  }

  .close-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    background: transparent url('#{$img-path}/close-rounded.svg') no-repeat right 13px top 13px;
    background-position: center;
    background-size: 18px 18px;
    top: 13px;
    right: 10px;
    border: 1px solid transparent;
  }

  .validation-err-msg {
    padding: 6px 0 0 0;
    color: $color-warning;
  }
}
/*
END Authorization Styles
_________________________________*/


