.hidden-empty {
  display: none;
}

.empty-text {
  display: flex;
  justify-content: center;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #E8E9EA;
  //margin-top: 30px;
  margin-bottom: 30px;
  align-items: stretch;
  font-size: 16px;
  padding: 50px;
  height: calc(100vh - 250px);
}
